

@TODO - 
use logo "LOGO.png"


@TODO
Create account for each

thomasgriffiths
jamiemorris
lukeperry
and
Christhyers  is admin and agent




@TODO
so no thompson legal or crap


@TODO
and replace any of their branding /company names   with  "Gin"